services:
    tutto_util.twig.is_type:
        class: Tutto\Bundle\UtilBundle\Twig\IsTypeExtension
        tags:
            - { name: twig.extension }

    tutto_util.twig.layout_resolver:
        class: Tutto\Bundle\UtilBundle\Twig\LayoutResolver
        arguments: ["@service_container"]
        tags:
            - { name: twig.extension }

    tutto_util.twig.form:
        class: Tutto\Bundle\UtilBundle\Twig\FormExtension
        tags:
            - { name: twig.extension }

    tutto_util.process_form:
        class: Tutto\Bundle\UtilBundle\Logic\ProcessForm
        arguments: ["@doctrine.orm.default_entity_manager", "@event_dispatcher"]

    route_definition.factory:
        class: Tutto\Bundle\UtilBundle\Logic\RouteDefinitionFactory
        arguments: ["@router", "@property_accessor"]